{
  "extends": "stylelint-config-standard",
  "rules": {
    "font-family-name-quotes": "always-unless-keyword",
    "string-quotes": "single",
    "function-url-quotes": "always",

    "at-rule-no-vendor-prefix": true,
    "media-feature-name-no-vendor-prefix": true,
    "property-no-vendor-prefix": true,
    "selector-no-vendor-prefix": true,
    "value-no-vendor-prefix": true,
  }
}
